# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea
*.iml
*.iws

# Eclipse
.classpath
.project
.settings/

# VSCode
.vscode/

# MacOS
.DS_Store

# SQLite
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# Application
jobis.db

# Claude
.claude